{% extends '::base.html.twig'%}


{% block body %}

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
     <li class="breadcrumb-item">
          <a href="/categoria">Categoria</a>
        </li> 
        <li class="breadcrumb-item active">
         Editar Categorias</li>
      </ol>
      


{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}

<div class="container" id="form-datos">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Editar categoria</div>
      <div class="card-body">
      
      {{ form_start(form) }}
          <div class="form-group">
            <div class="form-row">
            	<div class="col-md-12">
                <div class='input-group' style="margin-bottom: 8px;">
                    

                    {{ form_widget(form.name, {'attr': {'class':'form-control' , 'placeholder':'Ingresar marca'}}) }}
                    
                </div>
               
              </div>

              
            </div>
          </div>
        {{ form_widget(form.Guardar, {'attr': {'class':'btn btn-primary', 'type':'submit'}}) }}
          <a href="/category" class="btn btn-primary " > Regregar </a>
	     {{ form_end(form) }}
      </div>
    </div>
  </div>


</div>
</div>

{% endblock %}