{% extends '::base.html.twig'%}


{% block body %}

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
     <li class="breadcrumb-item">
          <a href="#">Productos</a>
        </li> 
        <li class="breadcrumb-item active">
          Detalles Productos</li>
      </ol>
      
<div class="container" id="form-datos">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Eliminar producto</div>
      <div class="card-body">
      
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <label for="user">Codigo</label>
                <p>{{product.code}}</p>
              </div>
              
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <label for="user">Nombre</label>
                <p>{{product.name}}</p>
              </div>
              
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
            <div class="col-md-12">
              
                <label for="implemento">Descripcion</label>
                 <p>{{product.description}}</p>
                
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
            <div class="col-md-12">
              
                <label for="implemento">Marca</label>
                 <p>{{product.brand.name}}</p>
                
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
            <div class="col-md-12">
              
                <label for="implemento">Categoria</label>
                 <p>{{product.category.name}}</p>
                
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-row">
            <div class="col-md-12">
              
                <label for="implemento">Precio</label>
                 <p>{{product.price}}</p>
                
              </div>
            </div>
          </div>
         
      
       <a href="/" class="btn btn-primary " > Regregar </a>
       <a href="/delete2/{{product.id}}" class="btn btn-danger " > Eliminar </a>
      </div>
    </div>
  </div>

</div>
</div>

{% endblock %}