{% extends '::base.html.twig'%}


{% block body %}

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
       <!-- <li class="breadcrumb-item">
          <a href="#">Reservas</a>
        </li> -->
        <li class="breadcrumb-item active">Productos</li>
      </ol>
      

{% for flash_message in app.session.flashbag.get('add') %}
    <div class="alert alert-success" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('delete') %}
    <div class="alert alert-danger" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('update') %}
    <div class="alert alert-info" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}

<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>Productos

<div style="float: right;">

          <a href="/new" class='btn' style='background-color:transparent;color:black;'> 
                    <i class="fa fa-plus-square"></i>
                    Agregar productos
                    </a>

        </div>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Codigo </th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Marca</th>
                  <th>Categoria</th>
                  <th>Precio</th>
                  <th>Acciones</th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Codigo </th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Marca</th>
                  <th>Categoria</th>
                  <th>Precio</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
              <tbody>
                
                {% for producto in productos %}
                <tr>
					<td>{{producto.codigo}}</td>
					<td>{{producto.nombre}}</td>
					<td>{{producto.descripcion}}</td>
					<td>{{producto.marcaId.nombre}}</td>
					<td>{{producto.categoriaId.nombre}}</td>
					<td>{{producto.precio}}</td>
					<td>
                    <a href = "/edit/{{producto.codigo}}" class='btn' style='background-color:transparent;color:black;'> 
                    <i class="fa fa-sticky-note-o"></i>
                    </a>
                    <a href = "/show/{{producto.codigo}}" class='btn' style='background-color:transparent;color:black;' > 
                    <i class="fa fa-low-vision"></i>
                    </a>
                    <a href = "/delete/{{producto.codigo}}" class='btn' style='background-color:transparent;color:black;'> 
                    <i class="fa fa-remove"></i>
                    </a>
                  </td>
				</tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Ultima actualizacion ayer a las 11:59 PM</div>
      </div>

</div>
</div>

{% endblock %}